:root {
  --primary-colour: #9c4234;
  --secondary-colour: black;
  --primary-font: "Source Serif 4", serif;
}

body {
  background-color: var(--primary-colour);
}

.header-image {
  width: 893px;
  height: 237px;
  margin: 0 auto;
}

.couple-names {
  text-align: center;
  font-family: "Alex Brush", serif;
  line-height: 1;
  margin: 16px auto;
  color: var(--secondary-colour);
  font-size: 70px;
  font-weight: normal;
}

.date {
  font-family: var(--primary-font);
  text-align: center;
  line-height: 1;
  margin: 8px 0;
  color: var(--secondary-colour);
  font-size: 25px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.nav-item {
  padding: 10px 30px;
}

.serif-medium {
  font-family: var(--primary-font);
  color: #565458;
}

.serif-medium:hover {
  transition: all 150ms ease-in-out;
}

.date-and-time {
  margin: 8px 0px;
  font-family: "Source Serif";
  color: var(--secondary-colour);
  font-size: 24px;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.b-h-1 {
  max-width: 100%;
}

.becky-and-wolfie {
  max-width: 100%;
}

.wolfie-1 {
  max-width: 100%;
}

p {
  font-size: 18px;
}

h3 {
  font-size: 32px;
  font-weight: normal;
  letter-spacing: 5px;
}

h4 {
  line-height: 1;
  margin: 32px 0px 8px;
  font-family: "Source Serif";
  color: var(--secondary-colour);
  font-size: 32px;
  font-weight: 300;
  letter-spacing: 5px;
  text-transform: uppercase;
}

main {
  font-family: var(--primary-font);
  color: var(--secondary-colour);
  text-align: center;
}

@media (max-width: 800px) {
  h4 {
    font-size: 30px;
  }
  .header-image {
    width: 375px;
    height: 100px;
  }
}
