:root {
  --primary-colour: #f8ebda;
  --secondary-colour: #e17c38;
  --primary-font: "Source Serif 4", serif;
}

body {
  background-color: var(--primary-colour);
}

.couple-names {
  text-align: center;
  font-family: "Alex Brush", serif;
  line-height: 1;
  margin: 16px auto;
  color: var(--secondary-colour);
  font-size: 60px;
  font-weight: normal;
  padding-top: 100px;
  padding-bottom: 15px;
}

.date {
  font-family: var(--primary-font);
  text-align: center;
  line-height: 1;
  margin: 8px 0;
  padding-bottom: 10px;
  color: var(--secondary-colour);
  font-size: 20px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.nav-item {
  padding: 10px 30px;
}

.serif-medium {
  font-family: var(--primary-font);
  color: var(--secondary-colour);
}

.serif-medium:hover {
  transition: all 150ms ease-in-out;
}

.main-info {
  padding: 30px;
}

.date-and-time {
  margin: 8px 0px;
  font-family: "Source Serif";
  color: var(--secondary-colour);
  font-size: 24px;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.b-h-1 {
  max-width: 100%;
}

h4 {
  line-height: 1;
  margin: 32px 0px 8px;
  font-family: "Source Serif";
  color: var(--secondary-colour);
  font-size: 32px;
  font-weight: 300;
  letter-spacing: 5px;
  text-transform: uppercase;
}

main {
  font-family: var(--primary-font);
  color: var(--secondary-colour);
  text-align: center;
}
