.home {
  text-decoration: none;
  color: black;
}

.home:hover {
  text-decoration: underline;
}

.spooky-w-1 {
  max-width: 100%;
}

.trick {
  padding: 15px 30px;
}

.treat {
  padding: 15px 30px;
}

.wolfie-container {
  max-width: 350px;
  padding: 15px;
  margin: 0 auto;
  border: 5px solid black;
  border-radius: 20px;
  background-color: #e7c496;
}

body {
  background-image: url("/images/4121807.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

main {
  text-align: center;
}

p {
  font-weight: bold;
  color: black;
}
